/* Fonts */
/* Bungee Spice */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

/* Bungee */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Honk */
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

/* Londrina Outline */
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');




/* Main Framework */
:root {
    --main-font: 'Poppins', sans-serif;
    --funny-font-II: 'Bungee', sans-serif;
    --funny-font: 'Bungee Spice', sans-serif;
    --second-funny-font : "Honk", system-ui;
    --contianer-background : #EDEDED;
    --background-color: #37373f;
    --font-default-color: #212529;
}


/* General Normalization */
*, 
*::after, 
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

span, a {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: var(--main-font);
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--main-font);
}

/* Start Project */
.game-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-name {
    font-size: 52px;
    margin-bottom: 20px;
    font-family: var(--funny-font);
    font-family: "Londrina Outline", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 5em;
    background: linear-gradient(to bottom, #1B6DFD 30%,#9238FD 70%);
    background-clip: inherit;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.container {
    width: 500px;
    height: 600px;
    margin-inline: auto;
    background-color: #FFF;
    border-radius: 15px;
}


#matrix {
    padding: 25px;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 5px; 
    background-color: whitesmoke;
    border-radius: 10px;
}

.card {
    height: 90px;
    width: 90px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.17); 
    /* transition: transform 0.2s ease-in-out;  */
}

.matched {
    animation: pulse 1.5s;
    opacity: 0.7; 
    /* filter: grayscale(10%); */
    background-color: #34B433;
}

@keyframes pulse {
    0% {
    transform: scale(0.9);
    box-shadow: 0 4px 8px rgba(51, 180, 51, 0.8);
    }
    50% {
        transform: scale(1);
        box-shadow: 0 3px 6px rgba(51, 180, 51, 0.6);
    }
    100% {
    transform: scale(1.02);
    box-shadow: 0 2px 4px rgba(51, 180, 51, 0.4);
    }
}

.card.shake{
    animation: shake 0.30s ease-in-out;
}

@keyframes shake {
    0%, 100%{
    transform: translateX(0);
    }
    20%{
    transform: translateX(-10px);
    }
    40%{
    transform: translateX(10px);
    }
    60%{
    transform: translateX(-5px);
    }
    80%{
    transform: translateX(5px);
    }
}

.game-details {
    padding: 5px;
    margin-inline: auto;
}

.game-details div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-details > span {
    text-align: center;
    font-size: larger;
}


.game-details .timer,
.game-details .flips,
.game-details .score {
    font-family: var(--funny-font-II);
}

.game-details .score {
    display: block;
}


.game-details #flips-info, 
.game-details #timer-info,
.game-details #score-info {
    font-family: var(--main-font);
    font-weight: bolder;
    font-size: larger;
    margin-left: 5px;
}

.game-details #score-info {
    color: #34B433;
}



/* Results PopUp */
.hidden {
    display: none;
}


.results-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 40%;
    background-color: #EDEDED;
    padding: 5rem;
    border-radius: 10px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    text-align: center;
}

.results-message img {
    margin-inline: auto;
}

.game-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    z-index: 9;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #9138fdc7;
    color: #EDEDED;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #9238FD;
    transform: scale(1.05);
}

.scores {
    position: absolute;
    background-color: #FFF;
    padding: 30px;

    top: 50%;
    left: 83%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    box-shadow: 7px 7px 5px 1px #1B6DFD;
    
}
