/* Fonts */
/* Bungee Spice */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Main Framework */
:root {
    --main-font: 'Poppins', sans-serif;
    --funny-font: 'Bungee Spice', sans-serif;
    --contianer-background : #EDEDED;
    --background-color: #37373f;
    --font-default-color: #212529;
}


/* General Normalization */
*, 
*::after, 
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

span, a {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: var(--main-font);
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--main-font);
}

/* Start Project */
.game-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .container {
    width: 55%;
    height: 50vh;
    margin-inline: auto;
    background-color: #FFF;
    border-radius: 15px;
} */

#matrix {
    height: 532px;
    width: 532px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 5px; 
    background-color: whitesmoke;
    border: 5px solid lightgrey;
}

.card {
    height: 128px;
    width: 128px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease-in-out; 

}

.card:hover {
    transform: scale(1.05); 
}

.card.matched {
    opacity: 0.7; 
    filter: grayscale(50%); 
}

.card.shake{
    animation: shake 0.30s ease-in-out;
}

@keyframes shake {
    0%, 100%{
    transform: translateX(0);
    }
    20%{
    transform: translateX(-10px);
    }
    40%{
    transform: translateX(10px);
    }
    60%{
    transform: translateX(-5px);
    }
    80%{
    transform: translateX(5px);
    }
}